<!DOCTYPE html>
<html lang="en">
	
	<head>
	<!-- chrome.exe --disable-web-security --user-data-dir="C:/ChromeDevSession" -->
	<meta charset="UTF-8">
	<!-- <meta http-equiv="Content-Security-Policy" content="default-src 'none'; style-src 'self' 'unsafe-inline'; img-src 'self' data:; script-src 'self' https://code.jquery.com 'unsafe-inline'; font-src 'self' data:;"> -->
    <meta http-equiv="Content-Security-Policy" content="Content-Security-Policy: default-src 'self' http://localhost:9000;">

	<title>Sign in</title>

	<!-- Font Icon -->
	<link rel="stylesheet" href="fonts/material-icon/css/material-design-iconic-font.min.css">
  <link rel="stylesheet" href="css/style.css">
	<!-- <script src="../js/main.js" defer>
	</script> -->
</head>

<body>

	<div class="main">

		<!-- Sing in  Form -->
		<section class="sign-in">
			<div class="container">
				<div class="signin-content">
					<div class="signin-image">
						<figure>
							<img src="../images/signin-image.jpg" alt="sing up image">
						</figure>
						<a style="font-size:1rem;" href="register" class="signup-image-link">Create an
							account</a>
					</div>

					<div class="signin-form">
						<h2 class="form-title">Sign in</h2>
						<form method="POST" class="register-form" id="login-form">
							<div class="form-group">
								<label for="username"><i class="zmdi zmdi-email material-icons-name"></i></label>
								<input type="email" name="email" id="email" value="" placeholder="Your Email" />
							</div>
							<div class="form-group">
								<label for="password"><i class="zmdi zmdi-lock material-icons-name"></i></label> <input type="password"
									name="password" id="password" placeholder="Password" value="" />
							</div>
							<div class="form-group">
								<input type="checkbox" name="remember-me" id="remember-me" class="agree-term" />
								<label style="font-size:1rem;" for="remember-me"
									class="label-agree-term"><span><span></span></span>Remember
									me</label>
							</div>
							<div class="form-group form-button">
								<input type="submit" name="signin" id="signin" class="form-submit" />
							</div>
							<div class="social-login">
						</form>
						<span class="social-label" style="font-size: 1rem;">Or login with</span>
						<ul class="socials">
							<li><a href="#"><i class="display-flex-center zmdi zmdi-facebook"></i></a></li>
							<li><a href="#"><i class="display-flex-center zmdi zmdi-twitter"></i></a></li>
							<li><a href="#"><i class="display-flex-center zmdi zmdi-google"></i></a></li>
						</ul>
					</div>
				</div>
			</div>
	</div>
	</section>

	</div>

	<!-- JS -->
	<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
	<script src="js/main.js" nonce="GENERATED_NONCE_VALUE"></script>
</body>
<!-- This templates was made by Colorlib (https://colorlib.com) -->

</html>